h1 {
	margin-top: 170px;
	font-family: 'Montserrat', sans-serif;
	font-size: 55px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	text-align: center;
	margin-bottom: 20px;
}

h3 {
	font-size: 
}

.main .overlay {
	opacity: 0.4;
}

.main {
	overflow: hidden;
}

img.logo {
	position: relative;
	width: 150px;
	float: left;
	top: 8px;
}

img.background {
	display: none;
	position: absolute;
	z-index: -1;
	min-width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.form-box {
	background: rgba(255, 255, 255, 0.6);
	padding: 30px;
}

.form-box h3 {
	font-size: 28px !important;
	color: #282828;
	text-shadow: none !important;
	margin-bottom: 25px;
}

.form-box .btn {
	text-transform: none;
	background: #ff5a5f;
	padding: 10px 25px;
	font-size: 20px;
	border: none;
}

.form-box .btn:hover {
	background: #FF7E82;
}

.mailing-list-heading {
	margin-top: 0;
}

.main p.social a.facebook {
	background: #fff;
}

.main p.social a {
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 35px;
}
.main p.social a i {
	line-height: 35px;
	color: #6B5E4E;
}

.footer {
	font-size: 16px;
}

.main .mailing-list {
	margin-top: 170px;
}

#mc_embed_signup {
	clear:left; font:14px 
	Helvetica,Arial,sans-serif;
}

.modal h4 {
	color: #555;
}

.modal .modal-dialog {
	margin-top: 150px;
}

#mc_embed_signup .button {
	background-color: #FF5A5F  !important;
}

#mc_embed_signup .button:hover {
	background-color: #FF7E82 !important;
}

#mc_embed_signup div#mce-responses {
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
	text-align: center !important;
}

#mc_embed_signup div.response {
	width: 100% !important;
	font-weight: normal !important;
	margin-top: 0 !important;
	padding-top: 0 !important;
}

#mc_embed_signup form {
	padding: 10px !important;
}