{% extends "master.html" %}
  {% block content %}
  {% if nannies %}
      <ul>
      {% for nanny in nannies %}
          <li><a href="/nannies/{{ nanny.id }}/">{{ nanny.name }}</a></li>
      {% endfor %}
      </ul>
  {% else %}
      <p>No nannies are available.</p>
  {% endif %}

 {% endblock %}
