
<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MyNanny</title>
	<meta name="description" content="MyNanny es una plataforma que conecta de manera inmediata a padres que necesitan una nanny disponible">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="k-iJ_qzqLuLBGCZZi7xxKWyARYA6dTJNKdlO935hGJo" />
	<meta name="robots" content="all,follow">
	<!-- Bootstrap and Font Awesome css-->
	<link rel="stylesheet" href="/static/css/font-awesome.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<!-- Google fonts-->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Pacifico">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
	<link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

	<!-- Theme stylesheet-->
	<link rel="stylesheet" href="/static/css/style.default.css" id="theme-stylesheet">
	<!-- Custom stylesheet - for your changes-->
	<link rel="stylesheet" href="/static/css/custom.css">
	<!-- Favicon-->
	<link rel="shortcut icon" href="/static/favicon.png">
	<!-- Tweaks for older IEs--><!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '372191623118941');
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=372191623118941&ev=PageView&noscript=1"
	/></noscript>
	<!-- DO NOT MODIFY -->
	<!-- End Facebook Pixel Code -->
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>