{% extends "master.html" %}
  {% block content %}
  {% if nanny %}
      <ul>

          <li>Nombre: {{ nanny.name }}</li>
          <li>telefono: {{ nanny.phone }}</li>
          <li>Dirección: {{ nanny.address }}</li>
          <li>Calificación: {{ nanny.rating }}</li>
          <img src='/media/{{ nanny.pic }}' />

      </ul>
  {% else %}
      <p>No nannies are available.</p>
  {% endif %}
{% endblock %}
